
@{
    ViewData["Title"] = "NotFound";
}

<h1 class="alert alert-danger">NotFound</h1>

<div class="row">

    <div class="col-10 mt-3 mx-auto p-4">
        <img class="img-fluid" src="https://img.freepik.com/premium-vector/modern-minimal-404-error-page-website-404-error-page-found-with-dead-ghost-concept_599740-702.jpg?w=740" />
    </div>


</div>